<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
	<add key="NugetOrg" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/kolotree/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="culaja@gmail.com" />
            <add key="ClearTextPassword" value="d4be65cef3c8cbee02f6caa84df7490fcb7f174d" />
        </github>
    </packageSourceCredentials>
</configuration>

